#div-content{
    width: 80%; 
    margin: 0 auto ;
}

#preview{
    display:none; 
    max-width: 80%; 
    margin: 0 auto;
}

#respInput{
    width: 100%; 
    margin-top: 10px;
    margin-bottom: 10px;
}

#divResp{
    margin-bottom: 20px;
}

#btnSubmit{
    background-color: #EDB529;
    border-radius: 10px;
    border-style:none;
    padding: 10px;
}

#btnSubmit:hover{
    background-color: #bd9532;
}