/* Adicione estas regras CSS ao seu arquivo existente */

.dropdown {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}



#sidebar{
    background: transparent;
}

.input-search{
    background:hsl(283, 77%, 82%);
    border-radius: 10px;
}

.input-search::placeholder {
    color: rgb(255, 253, 252);
    opacity: 75%;
    font-size:larger;
    text-shadow: 2px 2px 4px rgba(64, 2, 102, 0.338);
    padding-left: 13px;
}

#lupa{
    color: #4252E1;
}


#barra_busca{
    background: hsl(283, 77%, 82%);
    opacity: 90%;
}

#barra_busca:hover{
    opacity: 100%;

    .input-search{
        background-color: hsl(282, 85%, 87%);
        border-radius: 10px;
    }

    .input-search::placeholder {
        color: rgb(123, 0, 255);
        opacity: 11%;
    }
}

.dropdown.active {
    display: block; /* Exibe a dropdown quando a classe 'active' está presente */
}

/* Adicione estas regras CSS ao final do seu arquivo CSS */

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        padding-top: 15px;
        position: relative;
        transition: width 0.5s;
    }

    #main {
        margin-left: 0;
    }

    .sidebar:hover .nav-link .txt {
        display: inline;
    }

    .sidebar .nav-link {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .sidebar .nav {
        flex-direction: row;
    }

    .dropdown {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        display: none;
    }

    .dropdown.active {
        display: block;
        z-index: 1001; /* Garante que o dropdown sobreponha a interface */
    }

    #sidebar:not(:hover) .dropdown {
        display: none;
    }
}
