@import './colorscontenthub.css';
@import './loading.css';

body {
    display: flex;
    min-height: 100vh;
    margin: 10;
    background: linear-gradient(to bottom, #e4c7f088, #ede1cb);
    background-size: cover;
}

main {
    height: 100vh;
    min-height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;

}

aside{
    background: linear-gradient(to bottom, #ff9604bb, #dd7e12ea)!important; 
}


#sidebar{
    background: transparent;
}

.input-search{
    background:hsl(283, 77%, 82%);
    border-radius: 10px;
}

.input-search.text-light{
    text-shadow:2px 2px 3px rgba(44, 12, 63, 0.911)!important;
}

.input-search::placeholder {
    color: rgb(255, 253, 252);
    opacity: 75%;
    font-size:larger;
    text-shadow: 2px 2px 4px rgba(64, 2, 102, 0.338);
    padding-left: 13px;
}

#lupa{
    color: #4252E1;
}


#barra_busca{
    background: hsl(283, 77%, 82%);
    opacity: 90%;
}

#barra_busca:hover{
    opacity: 100%;

    .input-search{
        background-color: hsl(282, 85%, 87%);
        border-radius: 10px;
    }

    .input-search::placeholder {
        color: rgb(123, 0, 255);
        opacity: 11%;
    }
}

.text-wrng{
    color: hsl(282, 83%, 65%);
    text-shadow: 2px 2px 4px rgba(98, 75, 112, 0.432);
}

.text-start{
    color: #ff9500bb;
    text-shadow: 2px 2px 4px rgba(80, 29, 112, 0.255);
}


.style12 {
    height: 10px;
    border: 0;
    box-shadow: 0 5px 5px -5px #8c8b8b inset;
}

.control-comment {
    width: 3rem;
    height: 100%;
    border-radius: 0.4rem;
}

div#comments {
    max-height: 500px;
    overflow: auto;
    min-height: 0;
    scroll-behavior: smooth;
}

div#card-videos {
    max-height: 500px;
    overflow: auto;
    min-height: 0;
}

.rounded.div-content-video{
    border-radius: 13px!important;
}

.rounded-3.shadow.py-3.px-5{
    border-radius: 16px!important;
}

div#comments::-webkit-scrollbar,
div#card-videos::-webkit-scrollbar {
    width: 5px;
    background-color: transparent
}

div#comments::-webkit-scrollbar-thumb,
div#card-videos::-webkit-scrollbar-thumb {
    background-color: #ddd;
}

.thumbnail-profile {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.thumbnail-profile img {
    width: 100%;
    border-radius: 50%;
}

.div-search .fa-search {
    margin-right: 5px;
    font-size: 1.5rem;
    width: 2rem;
}

.div-search .input-search {
    width: 100%;
    border: 0;
}

.div-search .input-search:focus {
    outline: 0;
}


.div-content-video>* {
    pointer-events: none;
}

.div-content-video:hover {
    box-shadow: inset 0 0 1px 1px #4252E1 !important;
    transition: all linear .2s !important;
}

.active-show {
    background-color: #ff000073 !important;
    transition: all linear .2s;
}

.active-show>* {
    color: #ff0000 !important;
    transition: all linear .2s;
}

.name-video {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.like-comment:hover::before {
    content: "\f004";
    font-weight: 900;
}

.url-not-valid,
.url-not-valid:focus {
    background-color: rgba(255, 0, 0, 0.164);
    color: #f00;
    box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.26);
}

form:has(.url-not-valid) label[for=url-video]::after {
    content: ' * The URL belongs to the YouTube domain';
    color: #f00;
}


@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        padding-top: 15px;
        position: relative;
        transition: width 0.5s; /* Adiciona uma transição suave para a largura da barra lateral */
    }

    #main {
        margin-left: 0;
    }

    .sidebar:hover .nav-link .txt {
        display: inline;
    }

    .sidebar .nav-link {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .sidebar .nav {
        flex-direction: row;
    }

    .dropdown {
        position: static;
        margin-top: 15px;
        width: 100%; /* Garante que a dropdown ocupe toda a largura quando a barra lateral está fechada */
    }

    #sidebar:not(:hover) + .dropdown {
        display: none;
    }

    .btn-toggle-nav a {
        margin-left: 0; /* Remove a margem esquerda nos itens de navegação */
    }

    .btn-toggle-nav {
        text-align: center; /* Centraliza os itens de navegação no modo responsivo */
    }
}

.card.border-0{
    border-radius: 16px!important;
    background: linear-gradient(to top, #c79fd888, #ede1cb);
}

.d-flex.flex-row.align-items-center{
   color:  #ff9604bb;
}

.fas.fa-reply.mx-2.text-purple-dark{
    color: #8209d2;
}


.fw-bold.text-purple-dark{
    color: #8209d2;
}

.like-comment.far.fa-heart.fs-3{
    color:#8209d2!important;
}

span .mx-2{
    color:#8209d2!important;
}
                                
#send-comment{
    color: #8209d2!important;
    text-shadow: 2px 2px 3px rgba(131, 83, 179, 0.781);
    background: linear-gradient(to bottom, #ff9604bb, #dd7e12ea);
}

#send-comment:hover{
    background: linear-gradient(to bottom, #fbc876, hsla(282, 70%, 52%, 0.397));
}

div p{
    color: rgb(147, 75, 4);
    opacity: 75%;
    font-size:larger;
}

.w-100{
    color: #ae4ffc!important;
    background-color: #f8f1e5;
    border: #4252E1!important;
    border-radius: 20px!important;
}

#text-area-comment{
    color: #ae4ffc!important;
    background:linear-gradient(to bottom, #ffecd6e5,#eec9fac4)!important;
    border-radius: 20px!important;
}

#comment-on-the-video{
    background:linear-gradient(to top, #ffecd6e5,#f3ddfac4)!important;
    border-radius: 25px!important;
}

.fa-youtube{
    color: #ff8d60;
}

.name-video{
    color: #fd4a03!important;
    text-shadow: 2px 2px 3px rgba(173, 114, 75, 0.753);
}

.card{
    border-radius: 20px!important;
    
}

#iframe-videos {
    width: 100%;
    border-radius: 8px;
}
.confirm-section {
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.confirm-section p {
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 16px;
}

.checkbox {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: all 0.3s;
}

.checkbox:checked {
    background-color: #8209d2;
    border-color: #8209d2;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #dee2e6;
}

.footer p {
    margin: 0;
    color: #6c757d;
}

.footer #footer-link:hover{
    color: #b52edf;
}

.footer a {
    color: #dd7e12ea;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #dd7e12ea;
}

span.text-muted.px-2{
    color: #d23cff!important;
}

input#btncheck1.btn-check{
    color:#4252E1!important;
}

label.btn.btn-outline-primary{
    border:transparent;
    color: #ffffff;
    transition: background-color 0.3s ease;
    background: linear-gradient(to bottom, #ff9604bb, #dd7e12ea);
}

label.btn.btn-outline-primary:hover{
    border:transparent;
    color: #ffffff;
    transition: background-color 0.3s ease;
    background: linear-gradient(to bottom, #fbc876, hsla(282, 70%, 52%, 0.397));
}

.card{
    background: linear-gradient(to right, #e1aaf888, #ede1cb);
}
