<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Vide</title>
</head>
<style>
    Section {
        background-color: lightcoral;
    }
</style>

<body>
    <Section>
        <div class="video">
            <iframe width="600" height="300" src="https://www.youtube.com/embed/nTFpK0VClBo?si=KFIJhJ4v9jLO8XAE"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </Section>
</body>
<script>

    let videobutton = document.querySelector(".video");
    videobutton.addEventListener("click", async function () {

        setTimeout(10000); //tempo        

        const userBadge = {
            'user_id': '1b1a7844-0099-4cfd-8e8c-d54bef51f633',
            'badge_id': '8d3b5e64-738f-4d54-88a0-f1ccbf7146f2'
        }

        await fetch("http://localhost:4567/usuarios-badges", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(userBadge)
        })
            .then(response => {
                console.log(response)
            })
            .catch((error) => {
                console.error(error)
            })

        alert("Parabens! Você ganhou uma nova badge!");
    })

</script>

</html>


<!-- fetch("localhost:4567/badges/update-badge/:id/:badgeName", {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json' //nao pode ser json
    },
    body: JSON.stringify(credenciais) //credencias = email/senha, no seu caso é o atributo enable
})
.then(response => {
    if (response.ok) {
        return response.json(); 
    } else {
        throw new Error('Email ou senha incorretos.');
    }
})

.then(data => {
    // Se o login for bem-sucedido, armazenar token e outras informações relevantes
    localStorage.setItem('token', data.token);
    localStorage.setItem('usuario', JSON.stringify(data.usuario));

    alert('Login bem-sucedido!'); //deu tudo certo
})
.catch(error => {
    // Se ocorrer um erro durante o login
    alert('Erro ao fazer login: ' + error.message);
}); -->